nav {
    width: 100%;
    padding: 0 25px;
    height: 25vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    transition: .5s;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav ul
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}


.nav-title
{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 100%;
    transition: .5s;
    font-size: 2em;
    color: #ff214f;
}



.nav-active
{
    height: 15vh;
    background: #343a40;
    border-bottom: 1px solid rgba(221, 221, 221, 0.185);
}


.nav-active .nav-title
{
    top: 20%;
}

.left-links a,
.right-links a {
    color: #fff;
    padding: 10px;
    font-weight: 700;
}


.left-links a:hover,
.right-links a:hover
{
    opacity: .5;
}


.logo-box {
    width: 110px;
    height: 110px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) ;
    transition: .3s;
}


nav h2
{
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ff214f;
    font-size: 2em;
    transition: .3s;
}


.nav-active h2
{
    top: 50%;
}

.nav-active .logo-box
{
    top: 1%;
    transform: translate(-50%, -40%) scale(.5);
    opacity: 0;
}




.logo-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}



.right-links button
{
    padding: 10px;
    color: #fff;
    background: #ff214f;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 300;
}





.cls-1,
.cls-2,
.cls-3,
.cls-4 {
    fill: #fff;
}

.cls-1 {
    font-size: 38.206px;
}

.cls-1,
.cls-2 {
    font-family: BebasNeueBold, Bebas Neue;
}

.cls-2 {
    font-size: 21.299px;
}

.cls-4 {
    font-size: 7.93px;
    font-family: Helvetica;
    letter-spacing: 0.03em;
}
.svg
{
    transition: .5s;
}


.menu
{
    display: none;
}



.toggle
{
    left: 0;
}







@media (max-width: 960px) {

    nav h2, .logo-box
    {
        display: none;
    }

    

}

@media (max-width: 760px) {
    nav ul
    {
        position: fixed;
        left: -100%;
        top: 0;
        width: 70%;
        height: 100vh;
        background: #343a40;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 20px;
    }
    nav h2, .logo-box
    {
        display: block;
        left: 100px;
        width: 90px;
        height: 90px;
    }
        
    nav h2
    {
        width: 200px;
        top: 200%;
        left: 22%;
        height: auto;
    }
 


    .left-links, .right-links
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .menu
    {
        position: absolute;
        right: 20px;
        top: 55%;
        transform: translateY(-50%);
        font-size: 2em;
        color: #fff;
        display: block;
    }
}




@media (max-width: 400px) {
    nav h2
    {
        font-size: 1.2em;
        left: 33%;
    }

    .logo-box
    {
        left: 18%;
        width: 80px;
    }
}